<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC8BElKVRPXc-b9Og-Nzr_rCdov7ewPxQM</string>
	<key>GCM_SENDER_ID</key>
	<string>532857616238</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pcayol.bonnenuit</string>
	<key>PROJECT_ID</key>
	<string>bonne-nuit-98a0f</string>
	<key>STORAGE_BUCKET</key>
	<string>bonne-nuit-98a0f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:532857616238:ios:ccb008dd98f528e961337f</string>
</dict>
</plist>